body{
    background-image: url('https://media.tegna-media.com/assets/CCT/images/8bc60c03-2b7e-4343-92ef-8dbecc4880ac/8bc60c03-2b7e-4343-92ef-8dbecc4880ac_1140x641.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    font-weight: bold;
    text-align: center;
    color:black;
    font-family:inherit;
    

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

h1{
    font-size: 60px;
}

    .COUNTDOWN {
        
        display: inline-block;
        padding: 1rem;
        font-size: 40px;
    }

    .COUNTDOWN span{
        display: block;
        

    }

   